# Python
__pycache__/
*.pyc
.venv/
venv/

# Node / Next.js
node_modules/
.next/
out/

# Env files
.env

# Logs
*.log

# OS
.DS_Store

# Data / heavy files (VERY important for you)
*.csv
*.parquet
data/
*.db